// Cores

// Fontes
$fonte-titulo: 'Poppins', sans-serif;
$fonte-paragrafo: 'Open Sans', sans-serif;

/*------------------------
Animacoes
------------------------*/
@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }   
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}