/*------------------------
Reset
------------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
}

/*------------------------
Animacoes
------------------------*/
@-webkit-keyframes fadeDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes fadeDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

/*------------------------
Estrutura
------------------------*/
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  background-color: #e0e0e0;
}

h1, h2, h3, h4,
.titulo {
  font-family: "Poppins", sans-serif;
  margin-bottom: .8rem;
}

.container {
  width: 800px;
  padding: 0 15px;
  margin: 0 auto;
}

.card {
  background-color: #fff;
  margin-bottom: 2rem;
  border-radius: 5px;
  padding: 2rem;
  -webkit-box-shadow: 0px 7px 20px #0003;
          box-shadow: 0px 7px 20px #0003;
  -webkit-transition: .3s;
  transition: .3s;
}

.card .titulo {
  color: #166273;
}

.card .subtitulo {
  font-size: 1.4rem;
  font-weight: normal;
  margin-bottom: 1rem;
  color: #166273;
}

.card .value {
  color: #166273;
}

.card:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

/*------------------------
Header
------------------------*/
header {
  background-color: #2D4A22;
  padding: 2rem 2rem 8rem 2rem;
  text-align: center;
}

#header__logo {
  color: #fff;
  font-weight: 300;
}

/*------------------------
Body
------------------------*/
#balance {
  margin-top: -7rem;
  -webkit-animation: fadeDown 1.5s ease;
          animation: fadeDown 1.5s ease;
}

#balance .titulo {
  color: #fff;
  font-weight: normal;
}

#balance p {
  font-size: 2.3rem;
  font-weight: bold;
}

#balance .balance__card--total {
  background-color: #3f9620;
  color: #fff;
}

#balance .balance__card--total .subtitulo,
#balance .balance__card--total .value {
  color: #fff;
}

#transactions {
  -webkit-animation: fadeDown 1.8s ease;
          animation: fadeDown 1.8s ease;
}

#transactions .titulo {
  color: #166273;
  font-weight: normal;
}

#data-table {
  width: 100%;
  border-spacing: 0 .5rem;
}

table {
  color: #208096;
}

table thead tr th {
  background-color: #fff;
  font-weight: normal;
  padding: 1rem 2rem;
  text-align: left;
}

table thead tr th:first-child, table thead tr th:last-child {
  border-radius: .5rem;
}

table tbody tr:hover {
  opacity: 1;
}

table tbody tr td {
  background-color: #fff;
  text-align: left;
  padding: 1rem 2rem;
}

table tbody tr td:first-child, table tbody tr td:last-child {
  border-radius: .5rem;
}

table tbody tr td.income {
  color: #12a454;
}

table tbody tr td.expense {
  color: #e92929;
}

table tr {
  opacity: .7;
}

/*------------------------
Footer
------------------------*/
footer {
  text-align: center;
  padding: 5rem 0;
  color: #166273;
}
/*# sourceMappingURL=main.css.map */