@charset "UTF-8";
/*------------------------
Reset
------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

/*------------------------
Animacoes
------------------------*/
@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/*-------------------------
Tema Slick Principal
-------------------------*/
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  z-index: 1;
  display: block;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "Arial";
  font-size: 8rem;
  opacity: 0.75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir=rtl] .slick-prev {
  right: -25px;
  left: auto;
}

.slick-prev:before {
  content: "‹";
}

[dir=rtl] .slick-prev:before {
  content: "›";
}

.slick-next {
  right: -25px;
}

[dir=rtl] .slick-next {
  right: auto;
  left: -25px;
}

.slick-next:before {
  content: "›";
}

[dir=rtl] .slick-next:before {
  content: "‹";
}

/* Dots */
.slick-dots {
  position: absolute;
  bottom: 15px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 5rem;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}

/*-------------------------
Tema Slick Customizado
-------------------------*/
.banner__carousel .banner__carousel__item {
  min-height: 250px;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.slick-arrow:hover {
  opacity: 0.5;
}

.slick-prev {
  left: 3rem;
}

.slick-next {
  right: 3rem;
}

/*------------------------
Framework
------------------------*/
.d-none {
  display: none;
}

.d-in-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.w-100 {
  width: 100%;
}

/*------------------------
Estrutura
------------------------*/
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  height: 100%;
}

h1, h2, h3, h4,
.titulo {
  font-family: "Poppins", sans-serif;
}

.container {
  width: min(90vw, 990px);
  padding: 0 15px;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/*------------------------
Header
------------------------*/
header {
  height: 50px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.menu__logo {
  text-decoration: none;
  color: #000;
  transition: 0.3s;
  font-size: 3.5rem;
}
.menu__logo:hover {
  transform: scale(1.07);
}
.menu__links {
  list-style: none;
}
.menu__links__link {
  text-decoration: none;
  color: #000;
  margin-left: 15px;
  transition: 0.3s;
}
.menu__links__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

/*------------------------
Body
------------------------*/
/*------------------------
Home
------------------------*/
.banner__carousel {
  height: 100vh;
}
.banner__carousel__title {
  color: #fff;
  font-size: 5rem;
}
.banner__carousel__item {
  position: relative;
}
.banner__carousel__item .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}
.banner__carousel img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

/*------------------------
Footer
------------------------*/
footer {
  text-align: center;
}

/*------------------------
Responsivo
------------------------*/
@media screen and (max-width: 615px) {
  header.active {
    background: yellow;
    position: fixed;
    left: 0;
    height: 100%;
    bottom: 0;
    top: 0;
    right: 0;
    width: 85% !important;
    transform: translateX(0);
    align-items: flex-start !important;
    padding-top: 30px;
    animation: slideRight 0.5s;
  }

  .menu__links {
    display: none;
  }
  .menu__mobile__btn, .menu__mobile__btn::before, .menu__mobile__btn:after {
    content: "";
    display: block;
    width: 40px;
    height: 5px;
    background: #000;
    border-radius: 5px;
    transition: 0.3s;
  }
  .menu__mobile__btn::before {
    margin-top: 8px;
  }
  .menu__mobile__btn::after {
    margin-top: 3px;
  }

  .menu.active {
    flex-direction: column;
  }
  .menu.active .menu__links {
    display: flex;
    flex-direction: column;
  }
  .menu.active .menu__links__link {
    margin: 0;
  }
  .menu.active .menu__mobile__btn {
    display: block;
    position: absolute;
    top: 14px;
    right: 25px;
    margin-top: -11px;
    transform: rotate(45deg);
  }
  .menu.active .menu__mobile__btn::before {
    opacity: 0;
  }
  .menu.active .menu__mobile__btn::after {
    transform: rotate(-90deg) translate(16px, 0px);
  }
}