*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav#menu {
    background-color: #000000;
    height: 80px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

picture#logo {
    float: left;
    position: relative;
    top: 13px;
    margin-left: 100px;
}

label.logotipo {
    color: #ffffff;
    font-size: 20px;
    line-height: 80px;
    padding: 0 10px;
    font-weight: bold;
}

nav#menu ul {
    float: right;
    margin-right: 100px;
}

nav#menu ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0;
}

nav#menu ul li a {
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 8px;
}

nav#menu a.ativo, nav#menu a:hover {
    border: 1px solid #e60000;
    color: #e60000;
    transition: .5s;
}

.botaocheck {
    font-size: 30px;
    color: #ffffff;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 818px) {
    label.logotipo {
        font-size: 20px;
        padding-left: 10px;
    }

    nav#menu ul li a {
        font-size: 13px;
    }
}

@media (max-width: 780px) {
    .botaocheck {
        display: block;
    }

    picture#logo {
        float: left;
        position: relative;
        top: 13px;
        margin-left: 50px;
    }

    label.logotipo {
        font-size: 20px;
        padding-left: 10px;
    }

    nav#menu ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #160707;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav#menu ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav#menu ul li a {
        font-size: 20px;
    }

    #check:checked ~ ul {
        left: 0;
    }
}