/*------------------------
Framework
------------------------*/
.d-none {display: none;}
.d-in-block {display: inline-block;}
.d-flex {display: flex;}
.flex-column {flex-direction: column;}

.justify-center {justify-content: center;}
.justify-between {justify-content: space-between}

.align-center {align-items: center;}

.w-100 {width: 100%;}