/*------------------------
Header
------------------------*/
header {
    background-color: $cor-verde;
    padding: 2rem 2rem 8rem 2rem;
    text-align: center;
}

#header__logo {
    color: #fff;
    font-weight: 300;
}