@use '../abstract' as *;

/*------------------------
Estrutura
------------------------*/
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: $fonte-paragrafo;
    background-color: $cor-cinza-bg;
}

h1, h2, h3, h4,
.titulo {
    font-family: $fonte-titulo;
    margin-bottom: .8rem;
}

.container {
    width: min(90vw, 800px);
    padding: 0 15px;
    margin: 0 auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    clip: rect(0 ,0 , 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.card {
    background-color: #fff;
    margin-bottom: 2rem;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 0px 7px 20px #0003;
    transition: .3s;

    .titulo {
        color: $cor-azul-escuro;
    }

    .subtitulo {
        font-size: 1.4rem;
        font-weight: normal;
        margin-bottom: 1rem;
        color: $cor-azul-escuro;
    }

    .value {
        color: $cor-azul-escuro;
    }

    &:hover {
        transform: translateY(-5px);
    }
}

.btn {
    text-decoration: none;

    &--transaction {
        color: $cor-azul-escuro;
        display: inline-block;
        margin-bottom: 15px;
        transition: .3s;

        &:hover {
            color: $cor-azul;
        }
    }
}

.button {
    &.cancel {
        color: $cor-vermelho;
        border: 2px solid $cor-vermelho;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        transition: .3s;

        &:hover {
            background-color: $cor-vermelho;
            color: #fff;
        }
    }
}

button {
    font-size: 1.6rem;
    width: 100%;
    height: 50px;
    color: #fff;
    background-color: $cor-verde-claro200;
    border: none;
    padding: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;

    &:hover {
        background-color: $cor-verde-claro100;
    }
}